<!DOCTYPE html>
<html>
  <head>
    <title>User Management system </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">User Management system</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/registraion"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="card">
        <div class="card-header">
            <h2>Register Here !!!!</h2>
            <h4 style="color: green;"><%= output%> </h4>
      </div>
        <form method="post" action="/registraion">
        <div class="card-body">
              <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" class="form-control" id="name" name="name">
                </div>
              <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email" name="email">
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" name="password">
              </div>
              <div class="form-group">
                  <label for="mobile">Mobile:</label>
                  <input type="text" class="form-control" id="mobile" name="mobile">
                </div>
                <div class="form-group">
                  <label for="address">Address:</label>
                  <textarea name="address" class="form-control" id="address" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label for="city">City:</label>
                    <select name="city"  class="form-control"  id="city" >
                        <option value="">Select City</option>
                        <option value="indore">indore</option>
                        <option value="bhopal">bhopal</option>
                        <option value="ujjain">ujjain</option>
                        <option value="jablpur">jablpur</option>
                        <option value="Dewas">Dewas</option>
                    </select>
                  </div>
                <div class="form-group">
                  <label for="gender">Gender:</label> &nbsp;
                  Male <input type="radio" id="male" name="gender" value="male">&nbsp; &nbsp; 
                  Female <input type="radio" id="female" name="gender" value="female">
                </div>
                <div class="form-group">
                    <label for="hobbies">Hobbies:</label>
                    <select name="hobbies"  class="form-control"  id="hobbies" multiple>
                        <option value="">Select Hobbies</option>
                        <option value="cricket">cricket</option>
                        <option value="vollyball">vollyball</option>
                        <option value="footbal">footbal</option>
                        <option value="singing">singing</option>
                        <option value="dancing">dancing</option>
                    </select>
                  </div>
        </div> 
        <div class="card-footer"> <button type="submit" class="btn btn-success">Submit</button></div>
      </form>
      </div>
    </div>
  </body>
</html>
